:root {
    --font-family: "Montserrat", sans-serif;
    --accent-color: #0B68F0;
    --main-text-color: #FFFFFF;
    --secondary-text-color: #3B3D48;
    --main-background: #121213;
    --secondary-background: #19191B;
  }